/* SANS: Body */

@font-face {
  font-family: 'ProximaNova';
  font-display: swap;
  font-weight: regular;
  src: url('./fonts/ProximaNova-Regular.otf');
  unicode-range: U+0020 - 007f;
}

@font-face {
  font-family: 'ProximaNova';
  font-display: swap;
  font-weight: bold;
  src: url('./fonts/ProximaNova-Extrabold.otf');
  unicode-range: U+0020 - 007f;
}
